html {
  cursor: url("/public/assets/default-cursor.7cb4ac2b.png"),auto !important;
  font-family: Poppins;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.root {
  overflow: hidden;
}

.castle-overlay {
  z-index: 1000;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/assets/background.jpg");
  background-blend-mode: lighten;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.castle-bg {
  position: relative;
  background-image: url("/public/assets/field.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 1500px;
  min-height: 1500px;
  transition: all 0s;
  transform-origin: center;
}

.land-auction-btn {
  position: absolute;
  top: 594.5px;
  left: 523px;
  height: 43px;
  width: 43px;
}

.click-cursor {
  cursor: url("/public/assets/click-cursor.f0afc4df.png")!important;
}